# Database
POSTGRES_USER=incident
POSTGRES_PASSWORD=incident
POSTGRES_DB=incidents

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# Services
INCIDENT_SERVICE_URL=http://incident-service:8000
HEALTH_SERVICE_URL=http://health-service:8001
